<?xml version="1.0"?>
<configuration>
  
	<appSettings>
		<add key="LocalDemoService.Service" value="http://localhost:1878/DemoService/Service.asmx"/>
	</appSettings>
	
  <connectionStrings>
  <add name="NorthwindConnectionString" connectionString="Data Source=localhost;Initial Catalog=Northwind;Integrated Security=True"
       providerName="System.Data.SqlClient" />
  </connectionStrings>
	
  <system.web>

    <!-- add HTTP handler to perform Front Controller processing -->
    <httpModules>
      <add name="myFrontControllerModule" type="FrontController" />
    </httpModules>

		<compilation debug="true"/>
		<authentication mode="Windows"/>

  </system.web>
</configuration>
