<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
     <runtime>
         
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            
            <dependentAssembly>
                
                <assemblyIdentity name="ClassLibraryVersion" 
                         publicKeyToken="b035c4774706cc72"
                         culture="neutral"/>
                
                <bindingRedirect oldVersion= "1.0.1832.5411"
                                 newVersion= "1.1.1832.5427"/>
                
            </dependentAssembly>
            
        </assemblyBinding>
         
    </runtime>
</configuration>

