
@{
    ViewBag.Title = "DataGrid Examples";
    Layout = "~/Views/Shared/_LayoutServer.cshtml";
}

<h2>DataGrid Examples</h2>
<div style="margin-top:70px">
    <p>
        A complete Datagrid example that shows, filtering, sorting, paging and also how to use the DataGrid native changes tracking feature to update easily a DataBase is in the 
        BasicTutorialsCode file in the <a href="https://mvccontrolstoolkit.codeplex.com/releases">Mvc Controls Toolkit download area</a>.
    </p>
    <p>
        An example of a themed DataGrid  with, filtering, sorting, paging that is reusable with different data types is in the
        RazorThemedGrid file in the <a href="https://mvccontrolstoolkit.codeplex.com/releases">Mvc Controls Toolkit download area</a>.
    </p>
    <p>
        <strong>
            All DataGrid tutorials may be found <a href="https://mvccontrolstoolkit.codeplex.com/wikipage?title=Tutorials">here</a>
        </strong>
    </p>
    <p>
       Several types of sophisticated out-of-the-box DataGrids are available in the <a href="http://www.mvc-controls.com/controls/grids">commercial version of the Mvc Controls Toolkit</a>.
    </p>
</div>
