<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
<!--
ConnectionString key will have the connectionstring value
-->
<add key="ConnectionString" value="Jet OLEDB:Global Partial Bulk Ops=2;Jet OLEDB:Registry Path=;Jet OLEDB:Database Locking Mode=1;Data Source=C:\projects\FutureEdition.NET\Addressbook\Addressbook.mdb;Mode=Share Deny None;Jet OLEDB:Engine Type=5;Provider=Microsoft.Jet.OLEDB.4.0;Jet OLEDB:System database=;Jet OLEDB:SFP=False;persist security info=False;Extended Properties=;Jet OLEDB:Compact Without Replica Repair=False;Jet OLEDB:Encrypt Database=False;Jet OLEDB:Create System Database=False;Jet OLEDB:Don't Copy Locale on Compact=False;User ID=Admin;Jet OLEDB:Global Bulk Transactions=1"/>
<!--
DatabaseType key will define which type of database to use
Access intDatabaseType = 1
SQL Server intDatabaseType = 2
Oracle intDatabaseType = 3 
-->
<add key="DatabaseType" value="1"/>
</appSettings>
</configuration>
