<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<authentication mode="Forms">
			<forms name="FormsAuthCS" path="/" loginUrl="Login.aspx" protection="All" timeout="30">
				<credentials passwordFormat="Clear">
					<user name="Harry" password="testHarry"/>
					<user name="Tom" password="testTom"/>
					<user name="John" password="testJohn"/>
				</credentials>
			</forms>
		</authentication>
		<authorization>
			<deny users="?"/>
			<!--denying access to anonymous users-->
		</authorization>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
