<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="qName" value=".\private$\PatientQ"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="WPF_WCFServiceHost.CService">
        <endpoint
          address="msmq.formatname:DIRECT=OS:.\private$\PatientQ"
           binding="msmqIntegrationBinding"
           bindingConfiguration="IntQBind"
           contract="WPF_WCFServiceHost.IService"/>
      </service>
    </services>
    <bindings>
      <msmqIntegrationBinding>
        <binding name="IntQBind">
          <security mode ="None"></security>
        </binding>
      </msmqIntegrationBinding>
    </bindings>
  </system.serviceModel>
</configuration>