<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key="MSMQName" value=".\private$\MyQueue"/>
  </appSettings>
  
  <system.serviceModel >
    <services>
      <service type="WCFMSMQ.serviceMSMQ">
        <endpoint  address="net.msmq://localhost/private/MyQueue" 
          binding="netMsmqBinding" bindingConfiguration="bind1" 
          contract="WCFMSMQ.InterfaceMSMQ" />
      </service>
    </services>
    
    <bindings>
      <netMsmqBinding>
        <binding name="bind1">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
    
  </system.serviceModel>
</configuration>

