<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <!-- 
    <add key="DatabaseInitializerForType CodeFirstDbInitializerDemo.BlogContext,CodeFirstDbInitializerDemo"
         value="CodeFirstDbInitializerDemo.BlogContextCustomInitializer, CodeFirstDbInitializerDemo" />
    --> 
    
    </appSettings>

</configuration>