<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WCF_ServiceFor_AdHoc_Discovery.CService" 
			   behaviorConfiguration="ServBehave">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:5661/WCFDiscoveryService" />
          </baseAddresses>
        </host>
        <endpoint address ="" 
				  binding="wsHttpBinding" 
				  contract="WCF_ServiceFor_AdHoc_Discovery.IService">
        </endpoint>
		  <!--Standard UDP Discovery Endpoint-->
		  <endpoint name="udpDiscovery" kind="udpDiscoveryEndpoint"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServBehave">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
 			<serviceDiscovery/> <!--This Enables Service Discovery Behavior-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
