<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
      <anonymousIdentification enabled="true"/>
      <profile>
        <properties>
          <add name="UserCulture" defaultValue="en-US"/>
          <add name="UserUICulture" defaultValue="en"/>
        </properties>
      </profile>
    </system.web>

</configuration>
