/* html body tag style */
body {
    margin: 0px;
    padding: 0px;
}

/* h1 tag style */
h1 {
    margin: 0px;
    padding: 0px;
    font-family: arial;
    font-size: 140%;
    color: #ffffff;
}

/* CSS Style Rule for Div having id="outer-container" */
/* outer-container will hold the whole assembly of 
   nested div overlays. */
/* It will also center align the design */
#outer-container {
    width: 770px;
    margin: 0 auto;
}

/* header CSS Style Rule */
#header {
    width: 770px;
    height: 90px;
    background-color: blue;
}

/* footer CSS Style Rule */
#footer {
    width: 770px;
    background-color: red;
}

/* Top navigation CSS Style Rule */
#top-Nav {
    width: 770px;
    background-color: black;
    margin: 2px 0px 2px 0px;
}

/* content-container CSS Style Rule */
/* It will hold the main content of the page. */
#content-container {
    width: 770px;
    height: 400px;
    background-color: green;
    margin: 2px 0px 2px 0px;
}