<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation targetFramework="4.0">
			<assemblies>
				<add assembly="System.ServiceModel.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</assemblies>
		</compilation>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="System.ServiceModel.Routing.RoutingService" 
					 behaviorConfiguration="MyRoutedServBehave">
				<endpoint
					 address="twoway-ws"
					  binding="wsHttpBinding"
					  name="MyRoutingEndpoint"
					  contract="System.ServiceModel.Routing.IRequestReplyRouter"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MyRoutedServBehave">
					<serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
					<routing filterTableName="ServiceRouterTable"/> <!--The Router Table Contains Entries for services-->
				</behavior>
			</serviceBehaviors>
		</behaviors>
		
		<!--Define Services Here-->
		<client>
			<endpoint
				 name="WCF_QtrwiseSalesService" binding="wsHttpBinding"
				  address="http://localhost/WCF40_QtrwiseSalesVD/CQtrwiseSales.svc"
				  contract="*">
			</endpoint>

			<endpoint name="WCF_ServiceSalesData" binding="wsHttpBinding"
					   address="http://localhost/WCF40_SalesDataVD/CSalesData.svc"
					   contract="*"></endpoint>

		</client>

		<!--Routing Defination-->
		<!--Routing Defination-->
		<routing>
			<!--Filter For Detecting Messages Headers to redirect-->
			<filters>
				<filter name="GetSalesDetsils_Filter_1"  filterType="Action" filterData="http://tempuri.org/IQtrwiseSales/GetSalesDetsils"/>
				<filter name="GetSalesDetsils_Filter_2" filterType="Action" filterData="http://tempuri.org/ISalesData/GetSalesDetsils"/>
			</filters>

      
			<!--Define Routing Table, This will Map the service with Filter-->

      <filterTables>
        <filterTable name="ServiceRouterTable">
          <add filterName ="GetSalesDetsils_Filter_1" endpointName="WCF_QtrwiseSalesService"/>
          <add filterName="GetSalesDetsils_Filter_2" endpointName="WCF_ServiceSalesData"/>
        </filterTable>
      </filterTables>
      
      
			<!--<routingTables>
				<table name="ServiceRouterTable">
					<entries>
						<add filterName="GetSalesDetsils_Filter_1" endpointName="WCF_QtrwiseSalesService"/>
						<add filterName="GetSalesDetsils_Filter_2" endpointName="WCF_ServiceSalesData"/>
					</entries>
				</table>
			</routingTables>-->
		</routing>
		
	</system.serviceModel>
</configuration>

