body {
}
  html 
  {
      scrollbar-face-color: #7C0104;
scrollbar-shadow-color: #7C0104;
scrollbar-highlight-color: #7C0104;
scrollbar-3dlight-color:#7C0104;
scrollbar-darkshadow-color:  #FFFFDF;
scrollbar-track-color:  #FFFFDF;
scrollbar-arrow-color: #FFFFDF;
}
    
