<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="server=ANILKBARNWAL;database=Travel;integrated security=true" providerName="System.Data.SqlClient"/>
	    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=ANILKBARNWAL;Initial Catalog=Travel;Integrated Security=True"
     providerName="System.Data.SqlClient" />
    <add name="Travel" connectionString="Data Source=ANILKBARNWAL;Initial Catalog=Travel;Integrated Security=True"
     providerName="System.Data.SqlClient" />
    <add name="TravelConnectionString" connectionString="Data Source=ANILKBARNWAL;Initial Catalog=Travel;Integrated Security=True"
     providerName="System.Data.SqlClient" />   
  </connectionStrings>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
    <authentication mode="Forms"/>

  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="puneet.saxena@kogentindia.com">
        <network host="smtpout.secureserver.net" password="puneet" userName="puneet.saxena@kogentindia.com" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <!--<add key="GoogleMerchantID" value="819093629204382" />
    <add key="GoogleMerchantKey" value="jQVvA-qMx3mN_lYIQZcEKA" />
    <add key="GoogleEnvironment" value="Sandbox" />
    -->
    <!--<add key="PlatformID" value="jQVvA-qMx3mN_lYIQZcEKA" />-->
    <!--
    <add key="Currency" value="USD" />-->

    <!--<add key="GoogleMerchantID" value="361727962363208" />
    <add key="GoogleMerchantKey" value="VA3yJ2hbtr7VPZAnLUhaow" />
    <add key="GoogleEnvironment" value="Sandbox" />-->
    <!--<add key="PlatformID" value="jQVvA-qMx3mN_lYIQZcEKA" />-->
    <!--
    -->
    <!--<add key="Currency" value="USD" />-->

    <!--<add key="GoogleMerchantID" value="215778614419427" />
    <add key="GoogleMerchantKey" value="7-0YyHxgkfUzN0IDE7YqaQ" />
    <add key="GoogleEnvironment" value="Sandbox" />
    <add key="PlatformID" value="7-0YyHxgkfUzN0IDE7YqaQ" />
    <add key="Currency" value="INR" />-->

    <add key="GoogleMerchantID" value="173636214835348" />
    <add key="GoogleMerchantKey" value="XfXT_t5runF1JTryvJwLeQ" />
    <add key="GoogleEnvironment" value="Sandbox" />

    <!--<add key="PlatformID" value="jQVvA-qMx3mN_lYIQZcEKA" />-->
    <!--
    -->
    <!--<add key="Currency" value="USD" />-->
  </appSettings>
</configuration>
