<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NorthWind.Business.LS.Properties.Settings.NorthwindEFConnectionString"
            connectionString="Data Source=.;Initial Catalog=NorthwindEF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NorthWind.Business.LS.Properties.Settings.EcommerceConnectionString"
            connectionString="Data Source=.;Initial Catalog=Ecommerce;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>