<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="System.ServiceModel.Routing.RoutingService" behaviorConfiguration="MyRoutedServBehave">
				<host>
					<baseAddresses>
						<add  baseAddress="http://localhost:5643/routingservice/router"/>
					</baseAddresses>
				</host>
				<endpoint
					 address="twoway-ws"
					  binding="wsHttpBinding"
					  name="MyRoutingEndpoint"
					  contract="System.ServiceModel.Routing.IRequestReplyRouter"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MyRoutedServBehave">
					<serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="True"/>
					<routing  filterTableName="ServiceRouterTable"/>
					<!--The Router Table Contains Entries for services-->
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<!--Define Services Here-->
		<client>
			<endpoint
				 name="WCF_QtrwiseSalesService" binding="wsHttpBinding"
				  address="http://localhost/WCF40_QtrwiseSalesVD/CQtrwiseSales.svc"
				  contract="*">
			</endpoint>

			<endpoint name="WCF_ServiceSalesData" binding="wsHttpBinding"
					   address="http://localhost/WCF40_SalesDataVD/CSalesData.svc"
					   contract="*"></endpoint>
		 
		</client>

		<!--Routing Defination-->
		<routing>
      
			<!--Filter For Detecting Messages Headers to redirect-->
			<filters>
				<filter name="GetSalesDetsils_Filter_1"  filterType="Action" filterData="http://tempuri.org/IQtrwiseSales/GetSalesDetsils"/>
				<filter name="GetSalesDetsils_Filter_2" filterType="Action" filterData="http://tempuri.org/ISalesData/GetSalesDetsils"/>
			</filters>

      
			<!--Define Routing Table, This will Map the service with Filter-->

      <filterTables>
        <filterTable name="ServiceRouterTable">
          <add filterName ="GetSalesDetsils_Filter_1" endpointName="WCF_QtrwiseSalesService"/>
          <add filterName="GetSalesDetsils_Filter_2" endpointName="WCF_ServiceSalesData"/>
        </filterTable>
      </filterTables>
      
		 
		</routing>
	</system.serviceModel>
</configuration>