/* Main part of the page that holds contents */
.body
{
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    margin: 0px;
	background-color: #fff;
    font-size: 11px;
	padding: 5px;
}
/* gridview styles */
.gridHeader
{
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-weight: bold;
	background-image: url(../../images/grid_header_bg.gif);
	font-size: 11px;
	color: #423e79;
	height: 20px;
	padding-left: 5px;
}
.gridHeaderSelected
{
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-weight: bold;
	background-image: url(../../images/grid_header_sel.gif);
	font-size: 11px;
	color: #423e79;
	height: 20px;
	padding-left: 5px;
}
.gridPager
{
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-weight: normal;
	/*background-image: url(../../images/CalendarBkg.jpg);*/
	font-size: 11px;
	color: #423e79;
	height: 20px;
	padding-left: 5px;
}
.gridRow
{
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-weight: normal;
	font-size: 11px;
	padding-left: 5px;
}
.gridAlternativeRow
{
	background-color: #faf9f4;
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-weight: normal;
	font-size: 11px;
	padding-left: 5px;
}
/* label styles */
.heading
{
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-weight: normal;
	font-size: 18px;
	padding-left: 0px;	
}

/* popUp panel */
.pnlPop
{
	background-color: #faf9f4;
	font-family: Tahoma, Helvetica, Sans-Serif;
	font-weight: normal;
	font-size: 11px;
	padding: 5px;
}
