<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost:8089/ServiceDuplex" bindingConfiguration="WSDualHttpBinding_InterfaceDuplex"
                binding="customBinding" contract="InterfaceDuplex" />
        </client>
        <bindings>
            <customBinding>
                <binding name="Secure conversation bootstrap binding c2320a1b-0c9f-4398-944f-0af2452089bc">
                    <security defaultAlgorithmSuite="Default" authenticationMode="SspiNegotiated"
                        defaultProtectionLevel="EncryptAndSign" requireDerivedKeys="true"
                        securityHeaderLayout="Strict" includeTimestamp="true" keyEntropyMode="CombinedEntropy"
                        messageProtectionOrder="SignBeforeEncrypt" protectTokens="false"
                        requireSecurityContextCancellation="true" securityVersion="WSSecurityXXX2005"
                        requireSignatureConfirmation="false">
                        <localClientSettings cacheCookies="true" detectReplays="true"
                            replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="10675199.02:48:05.4775807"
                            replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00"
                            sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true"
                            timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="90" />
                        <localServiceSettings detectReplays="true" issuedCookieLifetime="10:00:00"
                            maxStatefulNegotiations="1024" replayCacheSize="900000" maxClockSkew="00:05:00"
                            negotiationTimeout="00:02:00" replayWindow="00:05:00" inactivityTimeout="01:00:00"
                            sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
                            reconnectTransportOnFailure="true" maxConcurrentSessions="1000"
                            timestampValidityDuration="00:05:00" />
                    </security>
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Default" writeEncoding="utf-8" />
                </binding>
                <binding name="WSDualHttpBinding_InterfaceDuplex">
                    <reliableSession acknowledgementInterval="00:00:00.2000000" advancedFlowControl="true"
                        bufferedMessagesQuota="32" inactivityTimeout="00:10:00" maxPendingChannels="128"
                        maxRetryCount="8" ordered="true" />
                    <security defaultAlgorithmSuite="Default" authenticationMode="SecureConversation"
                        bootstrapBindingConfiguration="Secure conversation bootstrap binding c2320a1b-0c9f-4398-944f-0af2452089bc"
                        bootstrapBindingSectionName="customBinding" defaultProtectionLevel="EncryptAndSign"
                        requireDerivedKeys="true" securityHeaderLayout="Strict" includeTimestamp="true"
                        keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt"
                        protectTokens="false" requireSecurityContextCancellation="true"
                        securityVersion="WSSecurityXXX2005" requireSignatureConfirmation="false">
                        <localClientSettings cacheCookies="true" detectReplays="true"
                            replayCacheSize="900000" maxClockSkew="00:05:00" maxCookieCachingTime="10675199.02:48:05.4775807"
                            replayWindow="00:05:00" sessionKeyRenewalInterval="10:00:00"
                            sessionKeyRolloverInterval="00:05:00" reconnectTransportOnFailure="true"
                            timestampValidityDuration="00:05:00" cookieRenewalThresholdPercentage="90" />
                        <localServiceSettings detectReplays="true" issuedCookieLifetime="10:00:00"
                            maxStatefulNegotiations="1024" replayCacheSize="900000" maxClockSkew="00:05:00"
                            negotiationTimeout="00:02:00" replayWindow="00:05:00" inactivityTimeout="01:00:00"
                            sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:05:00"
                            reconnectTransportOnFailure="true" maxConcurrentSessions="1000"
                            timestampValidityDuration="00:05:00" />
                    </security>
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Default" writeEncoding="utf-8" />
                    <compositeDuplex />
                    <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                        mapAddressingHeadersToHttpHeaders="false" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
                </binding>
            </customBinding>
        </bindings>
    </system.serviceModel>
</configuration>