<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
		<authentication mode="Forms"/>
		<anonymousIdentification enabled="true"/>
		<profile>
			<properties>
				<add name="SName" allowAnonymous="true"/>
				<add name="Cname" defaultValue="ASP.NET" allowAnonymous="true"/>
				<add name="Rno" defaultValue="0001"	allowAnonymous="true"/>
			</properties>
		</profile>
				<compilation debug="false" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

</configuration>
