<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConsoleApplication3.Properties.Settings.daasConnectionString"
        connectionString="Data Source=malcolm-pc\sqlexpress;Initial Catalog=TestData;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>