<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MSMQName" value=".\private$\MyQueue1"/>
  </appSettings>
  <system.serviceModel >
    <services>
      <service type="WCFMSMQTransactions.serviceMSMQ">
        <endpoint address="net.msmq://localhost/private/MyQueue1" 
          binding="netMsmqBinding" bindingConfiguration="bind2" 
          contract="WCFMSMQTransactions.InterfaceMSMQ" />
      </service>
      
    </services>
    <bindings>
      <netMsmqBinding>
        <binding name="bind2">
          <security mode="None"/>
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
</configuration>

