<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		  <client>
			   <!--<endpoint address="http://localhost:5643/routingservice/router/twoway-ws"
			    binding="wsHttpBinding" contract="MyRefQtrSales.IQtrwiseSales"
			    name="clientEdpQtrwiseSales" />
				  <endpoint address="http://localhost:5643/routingservice/router/twoway-ws"
			    binding="wsHttpBinding" contract="MyRefSalesData.ISalesData"
			    name="clientEdpSalesData" />-->


			  <endpoint address="http://localhost/WCF40_RoutingService_SalesandSalesData/MyReotingService.svc/twoway-ws"
			 binding="wsHttpBinding" contract="MyRefQtrSales.IQtrwiseSales"
			 name="clientEdpQtrwiseSales" />
			  <endpoint address="http://localhost/WCF40_RoutingService_SalesandSalesData/MyReotingService.svc/twoway-ws"
			binding="wsHttpBinding" contract="MyRefSalesData.ISalesData"
			name="clientEdpSalesData" />
  </client>
	</system.serviceModel>
</configuration>