<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.web>
		<authorization>
			<deny users="?"/>
		</authorization>
		<anonymousIdentification enabled="true"/>
		<profile>
			<properties>
				<add name="CourseName" allowAnonymous="true" defaultValue="ASP.NET"/>
				<add name="CourseDuration" allowAnonymous="true" defaultValue="2 months"/>
			</properties>
		</profile>
		<authentication mode="Forms"/>

        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
