USE MASTER
go

IF Exists (SELECT * FROM Sysdatabases WHERE NAME = N'OrderSystemDB')
BEGIN 
	DROP DATABASE OrderSystemDB
END
go

CREATE DATABASE [OrderSystemDB]
	ON PRIMARY 
	(NAME = N'OrderSystemDB', 
	FILENAME = N'C:\Litware\OrderSystemDB.MDF',
	SIZE = 10,
	FILEGROWTH = 10%,
	MAXSIZE = 15)
LOG ON 
	(NAME = N'OrderSystemDBLog', 
	FILENAME = N'C:\Litware\OrderSystemDBLog.LDF' , 
	SIZE = 10, FILEGROWTH = 10%)
go

ALTER DATABASE [OrderSystemDB] ADD FILEGROUP [OrderSystemDBFileGroup] 
go

ALTER DATABASE [OrderSystemDB] 
	ADD FILE
		(NAME = N'OrderSystemDBFile', 
		FILENAME = N'C:\Litware\OrderSystemDBFile.NDF' , 
		SIZE = 10, FILEGROWTH = 10%) 
		TO FILEGROUP [OrderSystemDBFileGroup]
go

Use OrderSystemDB
go


/****** Object:  Stored Procedure dbo.GetOrder    Script Date: 2/18/2005 10:27:32 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetOrder]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetOrder]
GO

/****** Object:  Stored Procedure dbo.GetOrderStamp    Script Date: 2/18/2005 10:27:32 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetOrderStamp]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetOrderStamp]
GO

/****** Object:  Stored Procedure dbo.GetVendorID    Script Date: 2/18/2005 10:27:32 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[GetVendorID]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[GetVendorID]
GO

/****** Object:  Stored Procedure dbo.IsOrderExist    Script Date: 2/18/2005 10:27:32 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[IsOrderExist]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[IsOrderExist]
GO

/****** Object:  Stored Procedure dbo.PlaceOrder    Script Date: 2/18/2005 10:27:32 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[PlaceOrder]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[PlaceOrder]
GO

/****** Object:  Stored Procedure dbo.UpdateOrder    Script Date: 2/18/2005 10:27:32 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[UpdateOrder]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
drop procedure [dbo].[UpdateOrder]
GO

/****** Object:  Table [dbo].[EDIMapping]    Script Date: 2/18/2005 10:27:32 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[EDIMapping]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[EDIMapping]
GO

/****** Object:  Table [dbo].[Orders]    Script Date: 2/18/2005 10:27:32 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[Orders]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[Orders]
GO

/****** Object:  Table [dbo].[EDIMapping]    Script Date: 2/18/2005 10:27:32 AM ******/
CREATE TABLE [dbo].[EDIMapping] (
	[BrokerID] [nvarchar] (50) NOT NULL ,
	[ProductID] [nvarchar] (50) NOT NULL ,
	[VendorID] [nvarchar] (50) NOT NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Orders]    Script Date: 2/18/2005 10:27:33 AM ******/
CREATE TABLE [dbo].[Orders] (
	[PartnerID] [nvarchar] (50) NOT NULL ,
	[OrderID] [nvarchar] (50) NOT NULL ,
	[OrderXML] [ntext] NULL ,
	[UpdatedTime] [datetime] NOT NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[EDIMapping] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[BrokerID],
		[ProductID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[Orders] WITH NOCHECK ADD 
	 PRIMARY KEY  CLUSTERED 
	(
		[PartnerID],
		[OrderID]
	)  ON [PRIMARY] 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.GetOrder    Script Date: 2/18/2005 10:27:33 AM ******/



CREATE PROCEDURE GetOrder
	@PartnerID nvarchar(50),
	@OrderID nvarchar(50)
AS
	SELECT	OrderXML
	FROM	Orders
	WHERE	PartnerID	= @PartnerID
	AND	OrderID		= @OrderID



GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.GetOrderStamp    Script Date: 2/18/2005 10:27:33 AM ******/




Create  PROCEDURE GetOrderStamp
	@PartnerID nvarchar(50),
	@OrderID nvarchar(50)
AS
	SELECT	UpdatedTime
	FROM	Orders
	WHERE	PartnerID	= @PartnerID
	AND	OrderID		= @OrderID




GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.GetVendorID    Script Date: 2/18/2005 10:27:33 AM ******/




CREATE  PROCEDURE GetVendorID
	@BrokerID nvarchar(50),
	@ProductID nvarchar(50)
AS
	SELECT	VendorID
	FROM	EDIMapping
	WHERE	BrokerID	= @BrokerID
	AND	ProductID	= @ProductID




GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.IsOrderExist    Script Date: 2/18/2005 10:27:33 AM ******/



CREATE PROCEDURE IsOrderExist
	@PartnerID nvarchar(50),
	@OrderID nvarchar(50)
AS
	IF EXISTS (
		SELECT 	1
		FROM	Orders
		WHERE	PartnerID	= @PartnerID
		AND	OrderID		= @OrderID
	)
		RETURN 1
	ELSE		
		RETURN 0



GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.PlaceOrder    Script Date: 2/18/2005 10:27:33 AM ******/



CREATE PROCEDURE PlaceOrder
	@PartnerID nvarchar(50),
	@OrderID nvarchar(50),
	@UpdatedTime datetime,
	@OrderXML ntext
AS

	INSERT INTO Orders 
		(PartnerID, OrderID, OrderXML, UpdatedTime)
	VALUES 
		(@PartnerID, @OrderID, @OrderXML, @UpdatedTime)
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

/****** Object:  Stored Procedure dbo.UpdateOrder    Script Date: 2/18/2005 10:27:33 AM ******/



CREATE PROCEDURE UpdateOrder
	@PartnerID nvarchar(50),
	@OrderID nvarchar(50),
	@UpdatedTime datetime,
	@OrderXML ntext
AS

	UPDATE	Orders
	SET	OrderXML	= @OrderXML,
		UpdatedTime	= @UpdatedTime 
	WHERE	PartnerID	= @PartnerID
	AND	OrderID		= @OrderID



GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

