<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0">
        <buildProviders>
          <add extension=".asp" type="System.Web.Compilation.PageBuildProvider"/>
        </buildProviders>
      </compilation>
      <httpHandlers>
        <add path="*.asp" verb="*" type="System.Web.UI.PageHandlerFactory" validate="true"/>
      </httpHandlers>
    </system.web>
</configuration>
