body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    padding: 0 5px 20px 5px;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.watermark
{
    background-color: #CCFFFF;
    color: #669999;
    font-style:italic;
}
.normalRow 
{
    background-color: #FFFF66 !important; 
}
.alternateRow
{ 
    background-color: #FF99FF !important; 
}
.inverted
{
    color:White;
    background-color: Black;
}
.normal
{
    color:Black;
    background-color: White;
}
div.editor-field
{
    margin: 5px 5px 5px 5px;
}
.editor-field > input[type="text"]
{
    width: 200px !important;
}
table.centered tr
{
    vertical-align:middle
}
table.centered td
{
    text-align: center;
}
ul.SortableList
{
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

ul.SortableList li
{
    margin: 0 3px 3px 3px; 
    padding: 0.4em; 
    padding-left: 1.5em;
    width: 35em;
    background-color:Silver;
}
ul.SortableList li div
{
    background-color:White;
}

table.grid td{
    border:solid 1px Gray;
}
.NormalHeaderToDo
{
    
    margin: 0px 0px 0px 0px;
    border-style:none;
    color:Black;
    cursor:pointer;
    
}
.AscendingHeaderToDo 
{
    
     margin: 0px 0px 0px 0px;
     border-style:none;
     color:Blue;
     cursor:pointer;
}

.DescendingHeaderToDo
{
     
     margin: 0px 0px 0px 0px;
     border-style:none;
     color:Red;
     cursor:pointer;
}
