
@helper ShowTime()
    {
    <div>
        Current Time: <strong>@DateTime.Now.ToShortTimeString()</strong>
    </div>
}

@helper ShowDate()
    {
    <div>
        Current Date: <strong>@DateTime.Now.ToShortDateString()</strong>
    </div>
}
