<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation targetFrameworkMoniker=".NETFramework,Version=v4.0">
			<assemblies>
				<add assembly="System.ServiceModel.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</assemblies>
		</compilation>
	</system.web>
	<system.serviceModel>
		<services>
			<service name="System.ServiceModel.Routing.RoutingService" 
					 behaviorConfiguration="MyRoutedServBehave">
				<endpoint
					 address=""
					  binding="wsHttpBinding"
					  name="MyRoutingEndpoint"
					  contract="System.ServiceModel.Routing.IRequestReplyRouter"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MyRoutedServBehave">
					<serviceMetadata httpGetEnabled="True"/>
					<routing routingTableName="ServiceRouterTable"/> <!--The Router Table Contains Entries for services-->
				</behavior>
			</serviceBehaviors>
		</behaviors>
		
		<!--Define Services Here-->
		<client>
			<endpoint
				 name="WCF_QtrwiseSalesService" binding="wsHttpBinding"
				  address="http://localhost/WCF40_QtrwiseSalesVD/CQtrwiseSales.svc"
				  contract="*"></endpoint>

			<endpoint
				 name="WCF_SalesDataService"
				 address="http://localhost/WCF40_SalesDataVD/CSalesData.svc"
				  binding="wsHttpBinding"
				  contract="*"></endpoint>
		</client>

		<!--Routing Defination-->
		<routing>
			<!--Filter For Detecting Messages Headers to redirect-->
			<filters>
				<filter name="MyFilter"  filterType="MatchAll"/>
			</filters>
		
			<!--Define Routing Table, This will Map the service with Filter-->
			<routingTables>
				<table name="ServiceRouterTable">
					<entries>
						<add filterName="MyFilter" endpointName="WCF_QtrwiseSalesService"/>
						<add filterName="MyFilter" endpointName="WCF_SalesDataService"/>
					</entries>
				</table>
			</routingTables>
		</routing>
		
	</system.serviceModel>
</configuration>

