<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="net.tcp://localhost:8089/serviceisoneway"
                bindingConfiguration="NetTcpBinding_InterfaceOneWay" binding="customBinding"
                contract="InterfaceOneWay" />
        </client>
        <bindings>
            <customBinding>
                <binding name="NetTcpBinding_InterfaceOneWay">
                    <binaryMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" />
                    <windowsStreamSecurity protectionLevel="EncryptAndSign" />
                    <tcpTransport manualAddressing="false" maxBufferPoolSize="524288"
                        maxMessageSize="65536" connectionBufferSize="8192" connectionPoolGroupName="default"
                        hostNameComparisonMode="StrongWildcard" idleTimeout="00:02:00"
                        maxBufferSize="65536" maxInboundConnections="10" maxOutboundConnectionsPerEndpoint="10"
                        maxOutputDelay="00:00:00.2000000" maxPendingAccepts="1" transferMode="Buffered"
                        connectionLeaseTimeout="00:05:00" listenBacklog="10" portSharingEnabled="false"
                        teredoEnabled="false" />
                </binding>
            </customBinding>
        </bindings>
    </system.serviceModel>
</configuration>