<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<add name="cnn" connectionString="Data Source=NODE39;Initial Catalog=ASPNETDB;User Id=sa;Password=sa123;Integrated Security=False" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<authentication mode="Forms">
			<forms cookieless="UseCookies" defaultUrl="index.aspx" loginUrl="UnAuthorized.aspx" protection="All" timeout="30"></forms>
		</authentication>
		<membership defaultProvider="Demo_MemberShipProvider">
			<providers>
				<add connectionStringName="cnn" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="5" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" name="Demo_MemberShipProvider" type="System.Web.Security.SqlMembershipProvider"/>
			</providers>
		</membership>
		<roleManager enabled="true" cacheRolesInCookie="true" cookieName="DemoRoles">
			<providers>
				<add connectionStringName="cnn" applicationName="/" name="Demo_RoleProvider" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</roleManager>
		<authorization>
			<deny users="?"/>
			<allow users="*"/>
		</authorization>
		<anonymousIdentification enabled="true"/>
		<profile defaultProvider="Demo_ProfileProvider">
			<providers>
				<add name="Demo_ProfileProvider" connectionStringName="cnn" applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
			<properties>
				<add name="Name" type="String" allowAnonymous="true"/>
				<add name="DateofBirth" type="DateTime" allowAnonymous="true"/>
				<add name="BirthPlace" type="string" allowAnonymous="true"/>
				<add name="Place" type="string" allowAnonymous="true"/>
				<add name="Languages" type="string" allowAnonymous="true"/>
				<add name="AboutMe" type="String" allowAnonymous="true"/>
				<add name="Employer" type="String" allowAnonymous="true"/>
				<add name="Project" type="String" allowAnonymous="true"/>
				<add name="Designation" type="String" allowAnonymous="true"/>
				<add name="University" type="String" allowAnonymous="true"/>
				<group name="BasicInfo">
					<add name="Name" type="String"/>
					<add name="DateofBirth" type="DateTime"/>
					<add name="BirthPlace" type="string"/>
					<add name="Place" type="string"/>
					<add name="Languages" type="string"/>
					<add name="AboutMe" type="String"/>
				</group>
				<group name="ProfessionlProfile">
					<add name="Employer" type="String"/>
					<add name="Project" type="String"/>
					<add name="Designation" type="String"/>
					<add name="University" type="String"/>
				</group>
				<add name="UserInfo" type="UserInfo"/>
			</properties>
		</profile>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation></system.web>
	<location path="Login.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="DemoProfileProvider.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Registration.aspx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
