<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel >
    
    <services>
      <service type="WCFSampleDuplex.serviceDuplex">
        <endpoint  binding="wsDualHttpBinding" bindingConfiguration="DuplexBinding"  
        contract="WCFSampleDuplex.InterfaceDuplex" />
      </service>
    </services>
    
    <bindings>
      <wsDualHttpBinding>
        <binding name="DuplexBinding" clientBaseAddress="http://localhost:8089/MyClient">
        </binding>
      </wsDualHttpBinding>
    </bindings>
    
  </system.serviceModel>
</configuration>

