<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<connectionStrings>
		<add name="Constring" connectionString="Data Source=PUNEET-PC\SQLEXPRESS;Initial Catalog=northwnd;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<authentication mode="Forms"/>
		<anonymousIdentification enabled="true"/>
		<profile defaultProvider="ProfileProvider">
			<properties>
				<add name="StudentName" allowAnonymous="true"/>
				<add name="CourseName" allowAnonymous="true"/>
				<add name="Rollno" allowAnonymous="true"/>
			</properties>
			<providers>
				<add name="ProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="Constring"/>
			</providers>
		</profile>		
        <compilation debug="false" strict="false" explicit="true" targetFramework="4.0" />
    </system.web>

</configuration>
