<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <appSettings>
    <!--  APPLICATION SETTINGS
          The <appSettings> section is used to configure
          application-specific configuration settings.
          These can be fetched from within apps by calling
          the "ConfigurationSettings.AppSettings(key)" property.
        -->
    <!-- add key="$Setting.Name$" value="$Setting.Value$" /-->
    <add key="ThrowDetailedError" value="False" />
    <add key="WsdlExtension.Enabled" value="False" />
  </appSettings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation defaultLanguage="c#" debug="false">
      <assemblies>
        <add assembly="microsoft.biztalk.webservices.serverproxy, version=3.0.1.0, culture=neutral, publickeytoken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
        -->
    <authorization>
      <allow users="*" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
        -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
        -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
        -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <trust level="Full" originUrl="" />
    <webServices>
      <protocols>
        <remove name="HttpPost" />
        <remove name="HttpGet" />
        <remove name="HttpPostLocalhost" />
      </protocols>
      <soapExtensionTypes>
        <!-- add type="$SoapExtensionType.FullName$, $AssemblyName.Name$" priority="1" group="0" /-->
      </soapExtensionTypes>
      <soapExtensionReflectorTypes>
        <!-- add type="$SoapExtensionReflectorType.FullName$, $AssemblyName.Name$" /-->
        <add type="Microsoft.BizTalk.WebServices.ServerProxy.WsdlExtension, Microsoft.BizTalk.WebServices.ServerProxy, Version=3.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </soapExtensionReflectorTypes>
    </webServices>
  </system.web>
</configuration>