<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
      <!--<authentication mode="Forms">
      <forms>
        <credentials passwordFormat="Clear">
          <user name="Bill" password="secret" />
          <user name="Ted" password="secret" />
        </credentials>
      </forms>
    </authentication>
  -->
        <authentication mode="Forms"/>
        <!--
  <membership defaultProvider="MyMembership">
    <providers>
      <add
        name="MyMembership"
        type="System.Web.Security.SqlMembershipProvider"
        connectionStringName="LocalSqlServer"
        requiresQuestionAndAnswer="false" 
        requiresUniqueEmail="false" />
    </providers>
  </membership>
  -->
      </system.web>
  <connectionStrings>
    <add name="UserProfiles" connectionString="Data Source=.\SQLExpress;Integrated Security=true;AttachDBFileName=|DataDirectory|UserProfilesDB.mdf;User Instance=True"/>
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="PickupDirectoryFromIis"/>
    </mailSettings>
  </system.net>
</configuration>
