<?xml version="1.0" encoding="utf-8" ?>
<Dustys xmlns="http://www.dustyscellar.com/TuscanLuncheon">
  <Luncheon>
    <LuncheonId>L1</LuncheonId>
    <Price>12.00</Price>
    <LimitedByDays>
    </LimitedByDays>
    <Item>
      <Name>Chicken Caesar Salad</Name>
      <Description>Tossed in mixed greens with Key Lime Caesar dressing</Description>
    </Item>
    <Item>
      <Name>Salmon Salad</Name>
      <Description>With assorted vegetables and Balsamic Vinaigrette</Description>
    </Item>
    <Item>
      <Name>Torta Rustica</Name>
      <Description> Our signature dish made with broche dough filled with smoked turkey, red peppers, provolone, Gournay cheese and artichoke hearts</Description>
    </Item>
  </Luncheon>
  <Luncheon>
    <LuncheonId>L2</LuncheonId>
    <Price>21.00</Price>
    <LimitedByDays></LimitedByDays>
    <Item>
      <Name>Chicken Breast</Name>
      <Description>Stuffed with herb garlic cheese, sun dried tomatoes and spinach</Description>
    </Item>
    <Item>
      <Name>Grilled 8oz Sirloin Steak</Name>
      <Description>With Pinoit Noir demi glaze</Description>
    </Item>
    <Item>
      <Name>Spinach Linquine</Name>
      <Description>With Tarragon Narsala cream, bacon, wild mushrooms, shallots and Romano cheese</Description>
    </Item>
  </Luncheon>
  <Luncheon>
    <LuncheonId>F</LuncheonId>
    <Price>12.00</Price>
    <LimitedByDays>
      <LimitedByDayOfWeek>Saturday</LimitedByDayOfWeek>
      <LimitedByDayOfWeek>Sunday</LimitedByDayOfWeek>
    </LimitedByDays>
    <Item>
      <Name>French Toast</Name>
      <Description>Stuffed with seasonal berries</Description>
    </Item>
    <Item>
      <Name>Scrambled Eggs</Name>
      <Description>With bacon or sausage</Description>
    </Item>
    <Item>
      <Name>Spinach Crepe</Name>
      <Description></Description>
    </Item>
    <Item>
      <Name>Torta Rustica</Name>
      <Description> Our signature dish made with broche dough filled with smoked turkey, red peppers, provolone, Gournay cheese and artichoke hearts</Description>
    </Item>
  </Luncheon>
</Dustys>
