<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="Movies" connectionString="Data Source=.\SQLEXPRESS;       AttachDbFilename=|DataDirectory|MyDatabase.mdf;Integrated Security=True;User Instance=True"/>
        <add name="GuestBook" connectionString="Data Source=.\SQLEXPRESS;       AttachDbFilename=|DataDirectory|GuestBookDB.mdf;Integrated Security=True;User Instance=True"/>
        <add name="Vote" connectionString="Data Source=.\SQLEXPRESS;       AttachDbFilename=|DataDirectory|VoteDB.mdf;Integrated Security=True;User Instance=True"/>
        <add name="Images" connectionString="Data Source=.\SQLEXPRESS;       AttachDbFilename=|DataDirectory|ImagesDB.mdf;Integrated Security=True;User Instance=True"/>
    </connectionStrings>

    <system.web>
        <profile enabled="true">
            <properties>
                <add name="DisplayName" defaultValue="Anonymous"/>
            </properties>
        </profile>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
