<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ProductServiceLibrary.ProductService"
               behaviorConfiguration="ServiceBehavior1">
        <endpoint
          address="net.tcp://localhost:9010/ProductService"
          binding="netTcpBinding"
          contract="ProductServiceLibrary.IProductService"/>
        <endpoint address="net.tcp://localhost:9011/mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange"/>
      </service>
      <service name="InventoryServiceLibrary.InventoryService"
               behaviorConfiguration="ServiceBehavior2">
        <endpoint
          address="http://localhost:8080/InventoryService"
          binding="wsHttpBinding"
          contract="InventoryServiceLibrary.IInventoryService"/>
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
          </baseAddresses>
        </host>
        <endpoint
          address="net.tcp://localhost:9020/InventoryService"
          binding="netTcpBinding"
          contract="InventoryServiceLibrary.IInventoryService"/>
        <endpoint address="net.tcp://localhost:9021/mex"
                  binding="mexTcpBinding"
                  contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior1">
          <serviceMetadata httpGetEnabled="false"/>
        </behavior>
        <behavior name="ServiceBehavior2">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>