<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ConnStr" connectionString="Data Source=(local);Initial Catalog=SampleDatabase;Persist Security Info=True;User ID=sa;Password=sa@12345;"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
