<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
      <caching>
        <sqlCacheDependency enabled="true" pollTime="5000">
          <databases>
            <add name="MyDatabase" connectionStringName="Movies"/>
          </databases>
        </sqlCacheDependency>
        <outputCacheSettings>
          <outputCacheProfiles>
            <add name="Cache1Hour" duration="3600" varyByParam="none"/>
          </outputCacheProfiles>
        </outputCacheSettings>
      </caching>
    </system.web>
  <connectionStrings>
    <add name="Movies" connectionString="Data Source=.\SQLExpress;Integrated Security=True;AttachDBFileName=|DataDirectory|MyDatabase.mdf;User Instance=True"/>
    <add name="MyMovies" connectionString="Data Source=.\SQLExpress;Integrated Security=true;database=MyMovies"/>
  </connectionStrings>
</configuration>
