<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StockHistoryEntities" connectionString="metadata=.\StockHistoryModel.csdl|.\StockHistoryModel.ssdl|.\StockHistoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLExpress;Initial Catalog=StockHistory;Integrated Security=True;Pooling=False;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>