<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled ="true"/>
				</behavior>
			</serviceBehaviors> 
		</behaviors>
		<protocolMapping>
			<add binding="wsHttpBinding" scheme ="http"/>
		</protocolMapping>
	</system.serviceModel>
</configuration>

<!--<protocolMapping>
			<add binding="wsHttpBinding" scheme ="http"/>
			<add binding="netTcpBinding" scheme="net.tcp"/>
		</protocolMapping>-->