/* status */
#statusBorder
{
    position:relative;
    height:5px;
    width:100px;
    border:solid 1px gray;
    display:none;
}
#statusFill
{
    position:absolute;
    top:0;
    left:0;
    width:0px;
    background-color:Blue;
    height:5px;
}