<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
      <authentication mode="Forms"/>
      <roleManager enabled="true"/>
	  <siteMap defaultProvider="myProvider">
			<providers>
				<add name="myProvider" type="AspNetUnleashed.SqlSiteMapProvider" connectionStringName="conSiteMap"/>
			</providers>
		</siteMap>
		<caching>
			<sqlCacheDependency enabled="true" pollTime="5000">
				<databases>
					<add name="SiteMapDB" connectionStringName="conSiteMap"/>
				</databases>
			</sqlCacheDependency>
		</caching>
    </system.web>
	<connectionStrings>
		<add name="conSiteMap" connectionString="Data Source=.\SQLExpress;Integrated Security=True;AttachDbFileName=|DataDirectory|SiteMapDB.mdf;User Instance=True"/>
	</connectionStrings>
</configuration>