<?xml version="1.0"?>
<configuration>
  <runtime>
    <gcConcurrent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="Developer Tools;Tracking;Tracking\interop" />
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
     <switches>
        <add name="Logging" value="1" />
     </switches>
  </system.diagnostics>
</configuration>
