<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- key="Setting.Name" value="Setting.Value" -->
    <add key="Console.ForegroundColor.Error" value="12" />
    <add key="Console.ForegroundColor.Warning" value="14" />
    <add key="Console.ForegroundColor.Info" value="15" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="Developer Tools;Tracking;Tracking\interop" />
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <switches>
      <!-- Enabled 0=false, 1=true -->
      <add name="DeployerDebug" value="0" />
      <!-- TraceLevel 0=Off, 1=Error, 2=Warning, 3=Info, 4=Verbose -->
      <add name="Tracing" value="4" />
      <add name="Logging" value="3" />
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--add name="Trace"
          type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          initializeData="BTSTask.trace.log" /-->
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
