<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- key="Setting.Name" value="Setting.Value" -->
    <add key="Console.ForegroundColor.Error" value="12" />
    <add key="Console.ForegroundColor.Warning" value="14" />
    <add key="Console.ForegroundColor.Info" value="15" />
  </appSettings>
  <system.diagnostics>
    <switches>
      <!-- TraceLevel 0=Off, 1=Error, 2=Warning, 3=Info, 4=Verbose -->
      <add name="ApplicationTraceSwitch" value="4" />
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--add name="Trace"
         type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
         initializeData="BTSWebSvcPub.trace.log" /-->
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>
