<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Microsoft.BizTalk.WebServices.Wizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Microsoft.BizTalk.WebServices.Wizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="BuildConfiguration" value="Release" />
  </appSettings>
  <runtime>
    <gcConcurrent enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes" />
      <probing privatePath="" />
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <switches>
      <!-- TraceLevel 0=Off, 1=Error, 2=Warning, 3=Info, 4=Verbose -->
      <add name="ApplicationTraceSwitch" value="4" />
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!--add name="Trace"
         type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
         initializeData="BTSWebSvcWiz.trace.log" /-->
      </listeners>
    </trace>
  </system.diagnostics>
  <userSettings>
    <Microsoft.BizTalk.WebServices.Wizard.Properties.Settings>
      <setting name="SkipWelcome" serializeAs="String">
        <value>False</value>
      </setting>
    </Microsoft.BizTalk.WebServices.Wizard.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Microsoft.BizTalk.WebServices.Wizard.Properties.Settings />
  </applicationSettings>
</configuration>
