<configuration>
  <system.runtime.remoting>

    <channelSinkProviders>
       <clientProviders>
         <provider id="sspi" type="Microsoft.BizTalk.XLANGs.Client.SecurityClientChannelSinkProvider,Microsoft.XLANGs.BizTalk.Client" securityPackage="ntlm" authenticationLevel="packetPrivacy"/>
       </clientProviders>
    </channelSinkProviders>

    <application>
       <channels>
         <channel ref="tcp" port="0" name="">
           <clientProviders>
             <formatter ref="binary"/>
             <provider ref="sspi" />
           </clientProviders>
	       <serverProviders>
             <formatter ref="binary" typeFilterLevel="Full"/>
           </serverProviders>
         </channel>
       </channels>
    </application>
  </system.runtime.remoting>
</configuration>
