

/* CSS Style Rule for Div having id="outer-container" */
/* outer-container will hold the whole assembly of 
   nested div overlays. */
/* It will also center align the design */
#outer-container {
    width: 75%;
}

/* content-container CSS Style Rule */
/* It will hold the main content of the page. */
/* it is the middle column */
/* in this 3 columns div layout */
#content-container {
    width: 25%;
    float: left;
}

/* left sidebar that is the left side column of */
/* 3 columns div layout */
#left-sidebar {
    width: 25%;
    float: left;
}

/* right sidebar that is the right side column of */
/* 3 columns div layout */
#right-sidebar {
    width: 25%;
    float: left;
}

