<?xml version="1.0"?>
<!--
  Visual Studio Command Prompt:
  SvcUtil http://localhost:8080/HostDevServer/WCFSampleService.svc?wsdl /out:WCFSampleServiceRef.cs /config:app.config
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFServiceTypeBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WCFSampleServices.WCFSampleService" behaviorConfiguration="WCFServiceTypeBehaviors">
        <endpoint address="" binding="wsHttpBinding" contract="WCFSampleServices.IWCFSampleService"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
  </system.serviceModel>
  
</configuration>