<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel >
    <services>
      <service type="WCFSampleIsOneWay.serviceIsOneWay">
        <endpoint  binding="netTcpBinding"  contract="WCFSampleIsOneWay.InterfaceOneWay" />
      </service>
    </services>
  </system.serviceModel>
</configuration>

