* {
	font-size: 11pt;
	color: black;
	font-family: Verdana, Arial;
}

Body {
	background-color: White;
}

Table {
	border: black thin solid;
}

.Folder {
	border: black thin solid;
	font-weight: bold;
	color: white;
	background-color: a9a9a9;
}

.File {
	border-left: black thin solid;
	border-right: black thin solid;
}

.CurrentFile {
	border-right: black thin solid;
	border-left: black thin solid;
	background-color: #ffffcc;
}