<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="puneetConnectionString" connectionString="Data Source=PUNEET-PC;Initial Catalog=puneet;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<authorization>
			<deny users="?"/>
		</authorization>
		<authentication mode="Windows"></authentication>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
