<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
  <roleManager enabled="true" />
  <authentication mode="Forms" />
  <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
	</system.web>
	<connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
  <EncryptedData>
   <CipherData>
    <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAl+tXsGqGNkWguL2MFeUsCQQAAAACAAAAAAAQZgAAAAEAACAAAACBOBAOJgXAJlamrfoHetORVtNZN/eFyKZttFzRcjt93QAAAAAOgAAAAAIAACAAAADp0NBtIIQmm6rF0Fhg255Thx26S07aKl6Mz1mDiYzX6XABAAAzjkHN4AhRqbecoQEhlPTVsh3BFgxLz8ARC+ErmIo5iUIs+BCdVwhY1X2I7qDf0sC4Y+uHE0+l5D8hTFO4gLL9P2yWyMuwkdACTnRxjL0mdVNbybajd5bQBooKKjZpoSuvZmhWcf8kbY7X0JsFayKvTu/ApAEOKPGmOSk7cGlrDyGfxL0L85NWfYtbvnbff0zMv4rkcthmwjqX1FaHNR/QYzZURiWeKFJaZpDXKCYT1p3piKLZFFqIta/zmy4AZFIrfqZxbzeLPaaoH0GH/mWdYfCwe59AT5zDix3ZmcYOAQTxzzCExA3rIj6uXOqoJOhGefBs+dAFdXL/+xtwh5s20W1V4ujCjaewfKxWcrE7oYzGD2+qxcP6dnT97WYZFQKfqPiOAR8dbbme0fk6KJYKCaqzqp4PyfgsRuQJH43SVYCKvL17pWC6ew9jsgyiZ4NCGiJNyYi5pASkv3yArYKzA7YICvuwcYBIBxF9gW7K30AAAADiGmfflrvPEhufT/xnbjuZgnYLN3qf28IsAWzQgCOQAmP7sAfa6AftYpElU3+v/16doHenoIBeqZFa1fgVZgE3</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>
</configuration>
