<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <!--To register the handler in IIS 7.0 running in Integrated mode-->
  <system.webServer>
    <handlers>
      <add verb="*" path="*.sample" name="SynchronousHTTPHandler" type="SynchronousHTTPHandler"/>
    </handlers>
  </system.webServer>
</configuration>