body
{
    font-family:Arial;
    font-size:0.8em;
}

table 
{
    width:600px;
    border:solid 1px #ff0000;
}

th 
{
    font-weight:bold;
    font-variant:small-caps;
    color:#ff0000;
}

td 
{
    border:solid 2px #e0e0e0;
    text-align:center;
}