/***************************************************************************************************************************************
**
** Script:	Hws_ActivityModel_Recovery.sql
** Purpose:	Identify ActivityModelInstance Activation Blocks that are invalid in tracking
** Setup:	If the BizTalkHwsDb and BizTalkDTADb databases (default names) are on seperate sql servers these servers must be linked
**		in order to run this script.  The login running the script should be in the HWS_ADMIN_USERS role.
** Editing:	Database names are configurable by the user during system configuration.  Due to this this script must be updated
**		with the correct server name and database name of the BizTalkHwsDb database.  See section "Begin Edit Section" below.
** Database:	Run this script in the BizTalkDTADb database.
** Description:	Activation Blocks are cached by the Hws webservice to prevent the submission of duplicate requests.  There are two
**		scenarios where the webservice's cache may be invalid when compared to the actual data stored in the tracking tables.
**			1.  An Activation message for one or more of the steps in an Activation Block has failed to reached tracking.
**			2.  The system has been restored from database and log backups that were generated using the Backup BizTalk 
**			    Server Sql Agent job (see BizTalk Sever help files).  The log marking process that is used by this job 
**			    may result in the webservice's cache data being written on one side of the log mark and the actual tracking 
**			    data being written on the other side of the log mark.  When the databases are restored to the log mark 
**			    the webservice's cache will hold that a given Activation Block has been submitted but the tracking tables 
**			    will not hold data for the Activation Block.
**		The purpose of this script is to identify the Activation Blocks that are invalid due to either scenario.
** When to use: This script may be run at any time.  The most common use scenarios are:
**			1.  It should always be run after the BizTalk Server databases are restored from log backups 
**			    generated by the backup agent job before the system is turned on for end users.  
**			2.  When an end user reports problems working with a running activity model instance this script may be run 
**			    to identify if the activity model has an invalid Activation Block in it.
**		WARNING:If the system is running at the time the script is run it may produce results for valid Activations Blocks  
**			because activation messages arrive in tracking at different times.  If the script is run and steps 1 and 2 have 
**			reached tracking but 3 has not that block will appear in the output of the script.  When the script is re-run 
**			if step 3 has reached tracking that block will not appear in the output.  For that reason if this script is used
**			in a live environment use it only to investigate specific activity model instances that users are having problems 
**			with and run the script repeatedly over several minutes to ensure that the issue is not just a normal delay in
**			messages reaching the tracking tables.
**
** Options for Repairing Invalid Activations Blocks:
**		If this script detects an invalid activation block (see WARNING above) there are several options that may be taken to
**		repair the scenario (this script does automatically attempt any repairs because the correct repair varies from scenario 
**		to scenario).  
**		NOTE:	Deleting records from the Hws tracking tables does not cause running action instances to abort.  They will coninue
**			to process until they complete or are terminated using HAT.  However if the underlying Hws tracking records are 
**			removed the Hws system will not allow users to interact with these instances.
**			1.  Start a new activity flow.  An option is to delete the old activity flow from the Hws tracking tables.
**			    To do this find the activity flow that matches the ActivityFlowID that is output by this script for the 
**			    invalid activation block in the Hws Server Administrator console and remove it.
**			2.  Start a new instance of the activity model in the activity flow.  An option is to delete the activity model 
**			    instance from the activity flow in the Hws tracking tables.  Select all ActionInstanceIDs
**			    from the Hws_ActionInstances table using the ActivityFlowID and ActivityModelInstanceID values output by this script
**			    to constraint the query.  Delete all records from Hws_Tasks, Hws_TaskResponses and Hws_ActionInstances for 
**			    the list of ActionInstanceIDs.
**			3.  Delete the webservice's cache for the invalid activation block.  If the script outputs a ParentActionInstanceID value for the Hws_ParentActionInstanceActivationBlocks table 
**			    delete the corresponding row.  Resubmit the activation block.  The invalid steps will still belong to the 
**			    activity flow for use in tracking.
**			4.  Delete the activation block from the activity model instance.  Delete all records from Hws_Tasks, Hws_TaskResponses and Hws_ActionInstances for 
**			    the list of ActionInstanceIDs output in the "Steps Existing in Activation Block..." section (this section will 
**			    be empty if no messages for the activation block have reached tracking).  If the script outputs a ParentActionInstanceID value 
**			    for the Hws_ParentActionInstanceActivationBlocks table delete the corresponding row.  Resubmit the activation block.  
**
**
**
***************************************************************************************************************************************/
set nocount on

create table	#AMBlockSteps (
			[ActivityModelTypeID]	uniqueidentifier
			,[ActivationBlockGuid]	uniqueidentifier
			,[StepId]		int
)

create table	#SeenBlocks (
			[ActivityModelInstanceID] uniqueidentifier
			,[BlockID]		uniqueidentifier
)

/*
***************************************************************************************************************************************

	Begin Edit Section

***************************************************************************************************************************************/
insert 		#AMBlockSteps
--exec		<server name>.<BizTalkHwsDb database name>.[dbo].[Hws_ActivityModelGetAllBlocksAndSteps]
exec		BizTalkHwsDb.[dbo].[Hws_ActivityModelGetAllBlocksAndSteps]
/***************************************************************************************************************************************

	End Edit Section

***************************************************************************************************************************************/
if @@ERROR <> 0
 begin
	print 'Failed executing [dbo].[Hws_ActivityModelGetAllBlocksAndSteps].'
	print 'Check that the servers are correctly linked, that the appropriate permissions are set and that the server and database name are correctly specified above.'
	return
 end

declare @ActivityFlowID uniqueidentifier, @ActionInstanceID uniqueidentifier, @ActivationBlockID uniqueidentifier, @ActivityModelTypeID uniqueidentifier, @ActivityModelInstanceID uniqueidentifier, @ActivityModelStepID int

declare block_cursor insensitive cursor for
select	[ActivityFlowID], [ActionInstanceID], [ActivityModelTypeID], [ActivityModelInstanceID], [ActivityModelStepID]
from	[dbo].[Hws_ActionInstances]
where	[ActivityModelTypeID] != '00000000-0000-0000-0000-000000000000'

open block_cursor

fetch next from block_cursor into @ActivityFlowID, @ActionInstanceID, @ActivityModelTypeID, @ActivityModelInstanceID, @ActivityModelStepID

if @@ERROR <> 0
 begin
	print 'Failed fetching from cursor'
	close block_cursor
	deallocate block_cursor
	drop table #AMBlockSteps
	drop table #SeenBlocks
	return
 end

while @@FETCH_STATUS = 0
 begin
	declare @BlockID uniqueidentifier

	select 		@BlockID = [ActivationBlockGuid]
	from		#AMBlockSteps
	where		[ActivityModelTypeID] = @ActivityModelTypeID
	and		[StepID] = @ActivityModelStepID

	/*
		Return if we fail
	*/
	if @@ERROR <> 0
	 begin
		print 'Failed determining ActivationBlockID from StepID and ActivityModel'
		close block_cursor
		deallocate block_cursor
		drop table #AMBlockSteps
		drop table #SeenBlocks
		return
	 end

	/*
		If no error but no row or if we've already processed this block for this activity model instance
		skip record and continue
	*/
	if @BlockID is null or exists (select 1 from #SeenBlocks where [ActivityModelInstanceID]=@ActivityModelInstanceID and [BlockID]=@BlockID)
	 begin
		fetch next from block_cursor into @ActivityFlowID, @ActionInstanceID, @ActivityModelTypeID, @ActivityModelInstanceID, @ActivityModelStepID
		
		if @@ERROR <> 0
		 begin
			print 'Failed fetching from cursor'
			close block_cursor
			deallocate block_cursor
			drop table #AMBlockSteps
			drop table #SeenBlocks
			return
		 end

		continue
	 end
	/*
		Insert that we've already seen this block
	*/
	insert	#SeenBlocks values ( @ActivityModelInstanceID, @BlockID )
	
	if @@ERROR <> 0
	 begin
		print 'Failed determining ActivationBlockID from StepID and ActivityModel'
		close block_cursor
		deallocate block_cursor
		drop table #AMBlockSteps
		drop table #SeenBlocks
		return
	 end
	/*

	*/
	if exists (	select 		1
			from		#AMBlockSteps [s]
			where		[ActivityModelTypeID] = @ActivityModelTypeID
			and		[ActivationBlockGuid] = @BlockID
			and		[StepID] not in (	select		ActivityModelStepID
								from		[dbo].[Hws_ActionInstances] [ai]
								where 		[ai].[ActivityFlowID] = @ActivityFlowID
								and		[ai].[ActivityModelInstanceID] = @ActivityModelInstanceID ) )
	 begin

		declare @StepID int

		print '***********************************************************************************************************************************'
		print ''
		print N'Invalid Activation Block Detected:  Steps missing from tracking.'
		print N''
		print N'ActivityFlowID:			' + cast( @ActivityFlowID as nvarchar(64) )
		print N'ActivityModelTypeID:		' + cast( @ActivityModelTypeID as nvarchar(64) )
		print N'ActivityModelInstanceID:	' + cast( @ActivityModelInstanceID as nvarchar(64) )
		print N'ActivityModelActivationBlockID:	' + cast( @BlockID as nvarchar(64) )
		
		/*
			Get the valid steps
		*/
		print ''
		print 'Steps Existing in Activation Block...'
		print ''
		declare existing_cursor insensitive cursor for 
		select 		StepID
		from		#AMBlockSteps [s]
		where		[ActivityModelTypeID] = @ActivityModelTypeID
		and		[ActivationBlockGuid] = @BlockID
		and		[StepID] in (		select		ActivityModelStepID
							from		[dbo].[Hws_ActionInstances] [ai]
							where 		[ai].[ActivityFlowID] = @ActivityFlowID
							and		[ai].[ActivityModelInstanceID] = @ActivityModelInstanceID )

		open existing_cursor

		fetch next from existing_cursor into @StepID

		if @@ERROR <> 0
		 begin
			print 'Failed fetching from cursor'
		
			close existing_cursor
			deallocate existing_cursor
			
			close block_cursor
			deallocate block_cursor

			drop table #AMBlockSteps
			drop table #SeenBlocks

			return
		 end

		while @@FETCH_STATUS = 0
		 begin
			print N'StepID:				' + cast( @StepID as nvarchar )

			fetch next from existing_cursor into @StepID
	
			if @@ERROR <> 0
			 begin
				print 'Failed fetching from cursor'
			
				close existing_cursor
				deallocate existing_cursor
				
				close block_cursor
				deallocate block_cursor

				drop table #AMBlockSteps
				drop table #SeenBlocks
	
				return
			 end
		 end

		close existing_cursor
		deallocate existing_cursor

		/*
			Get the missing steps
		*/
		print ''
		print 'Steps Missing From Activation Block...'
		print ''
		declare missing_cursor insensitive cursor for 
		select 		StepID
		from		#AMBlockSteps [s]
		where		[ActivityModelTypeID] = @ActivityModelTypeID
		and		[ActivationBlockGuid] = @BlockID
		and		[StepID] not in (	select		ActivityModelStepID
							from		[dbo].[Hws_ActionInstances] [ai]
							where 		[ai].[ActivityFlowID] = @ActivityFlowID
							and		[ai].[ActivityModelInstanceID] = @ActivityModelInstanceID )

		open missing_cursor

		fetch next from missing_cursor into @StepID

		if @@ERROR <> 0
		 begin
			print 'Failed fetching from cursor'
		
			close missing_cursor
			deallocate missing_cursor
			
			close block_cursor
			deallocate block_cursor

			drop table #AMBlockSteps
			drop table #SeenBlocks

			return
		 end

		while @@FETCH_STATUS = 0
		 begin
			print N'StepID:				' + cast( @StepID as nvarchar )

			fetch next from missing_cursor into @StepID
	
			if @@ERROR <> 0
			 begin
				print 'Failed fetching from cursor'
			
				close missing_cursor
				deallocate missing_cursor
				
				close block_cursor
				deallocate block_cursor

				drop table #AMBlockSteps
				drop table #SeenBlocks
	
				return
			 end
		 end

		close missing_cursor
		deallocate missing_cursor
		/*
			Find the row in Hws_ParentActionInstanceActivationBlocks
		*/
		declare 	@ParentActionInstanceID uniqueidentifier

		select		@ParentActionInstanceID = [ActionInstanceID]
		from		[dbo].[Hws_ActionInstances]
		where		[ActivityFlowID]=@ActivityFlowID
		and 		[ActivityModelInstanceID]=@ActivityModelInstanceID
		and		[ActionInstanceID] in (	select	[ParentActionInstanceID]
							from	[dbo].[Hws_ParentActionInstanceActivationBlocks]
							where	[ActivityFlowID]=@ActivityFlowID
							and	[ActivationBlockID]=@BlockID )

		if @ParentActionInstanceID is not null
		 begin
			print ''
			print N'Conflicting Row in table Hws_ParentActionInstanceActivationBlocks...'
			print ''
			print N'ParentActionInstanceID: ' + cast( @ParentActionInstanceID as nvarchar(64) )
			print ''
		 end

		print ''
		print '***********************************************************************************************************************************'
		print ''
		print ''
	 end		
	
	fetch next from block_cursor into @ActivityFlowID, @ActionInstanceID, @ActivityModelTypeID, @ActivityModelInstanceID, @ActivityModelStepID
	
	if @@ERROR <> 0
	 begin
		print 'Failed fetching from cursor'
		close block_cursor
		deallocate block_cursor
		drop table #AMBlockSteps
		drop table #SeenBlocks
		return
	 end
 end


close block_cursor
deallocate block_cursor
drop table #SeenBlocks


declare cache_cursor insensitive cursor for
select	[ActivityFlowID], [parentActionInstanceID], [ActivationBlockID]
from	[dbo].[Hws_ParentActionInstanceActivationBlocks]

open cache_cursor

fetch next from cache_cursor into @ActivityFlowID, @ParentActionInstanceID, @BlockID

if @@ERROR <> 0
 begin
	print 'Failed fetching from cursor'
	close cache_cursor
	deallocate cache_cursor
	drop table #AMBlockSteps
	return
 end

while @@FETCH_STATUS = 0
 begin
	select @ActivityModelInstanceID = null

	select 	@ActivityModelInstanceID = [ActivityModelInstanceID]
		,@ActivityModelTypeID = [ActivityModelTypeID]
	from	[dbo].[Hws_ActionInstances]
	where	[ActivityFlowID] = @ActivityFlowID
	and	[ActionInstanceID]=@ParentActionInstanceID

	if @@ERROR <> 0
	 begin
		print 'Failed selecting ActivityModelInstanceID'
		close cache_cursor
		deallocate cache_cursor
		drop table #AMBlockSteps
		return
	 end

	if @ActivityModelInstanceID is null
	 begin		
		print '***********************************************************************************************************************************'
		print ''
		print N'Invalid Activation Block Detected:  ParentActionInstanceID missing from tracking.'
		print N''
		print N'ActivityFlowID:			' + cast( @ActivityFlowID as nvarchar(64) )
		print N'ParentActionInstanceID:		' + cast( @ParentActionInstanceID as nvarchar(64) )
		print N'ActivityModelActivationBlockID:	' + cast( @BlockID as nvarchar(64) )
		
		print ''
		print '***********************************************************************************************************************************'
		print ''
		print ''

		fetch next from cache_cursor into @ActivityFlowID, @ActionInstanceID, @BlockID
		
		if @@ERROR <> 0
		 begin
			print 'Failed fetching from cursor'
			close cache_cursor
			deallocate cache_cursor
			drop table #AMBlockSteps
			return
		 end

		continue
	 end

	if not exists (	select 	1 
			from 	[dbo].[Hws_ActionInstances] 
			where 	[ActivityFlowID] = @ActivityFlowID 
			and 	[ActivityModelInstanceID] = @ActivityModelInstanceID 
			and 	ActivityModelStepID in (	select	[StepID ]
								from 	#AMBlockSteps
								where	[ActivityModelTypeID] = @ActivityModelTypeID 
								and	[ActivationBlockGuid] = @BlockID ) )
	 begin		
		print '***********************************************************************************************************************************'
		print ''
		print N'Invalid Activation Block Detected:  No steps for activation block in tracking.'
		print N''
		print N'ActivityFlowID:			' + cast( @ActivityFlowID as nvarchar(64) )
		print N'ParentActionInstanceID:		' + cast( @ParentActionInstanceID as nvarchar(64) )
		print N'ActivityModelActivationBlockID:	' + cast( @BlockID as nvarchar(64) )
		
		print ''
		print '***********************************************************************************************************************************'
		print ''
		print ''
	 end

	fetch next from cache_cursor into @ActivityFlowID, @ActionInstanceID, @BlockID
	
	if @@ERROR <> 0
	 begin
		print 'Failed fetching from cursor'
		close cache_cursor
		deallocate cache_cursor
		drop table #AMBlockSteps
		return
	 end
 end	


close cache_cursor
deallocate cache_cursor

drop table #AMBlockSteps