<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="SecureServiceLibrary.SecureService"
               behaviorConfiguration="ServiceBehavior">
        <endpoint address="net.tcp://localhost:9000/SecureService"
                  binding="netTcpBinding"
                  bindingConfiguration=""
                  name="SecureService_Tcp"
                  contract="SecureServiceLibrary.ISecureService" />
        <endpoint address="http://localhost:8090/SecureService"
                  binding="wsHttpBinding"
                  bindingConfiguration=""
                  name="SecureService_WsHttp"
                  contract="SecureServiceLibrary.ISecureService" />
        <endpoint address="mex"
                  contract="IMetadataExchange"
                  binding="mexTcpBinding" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9001/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>