<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="System.ServiceModel.Routing.RoutingService" behaviorConfiguration="MyRoutedServBehave">
				<host>
					<baseAddresses>
						<add  baseAddress="http://localhost:5643/MyServ"/>
					</baseAddresses>
				</host>
				<endpoint
					 address=""
					  binding="wsHttpBinding"
					  name="MyRoutingEndpoint"
					  contract="System.ServiceModel.Routing.IRequestReplyRouter"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="MyRoutedServBehave">
					<serviceMetadata httpGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="True"/>
					<routing routingTableName="ServiceRouterTable"/>
					<!--The Router Table Contains Entries for services-->
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<!--Define Services Here-->
		<client>
			<endpoint
				 name="WCF_QtrwiseSalesService" binding="wsHttpBinding"
				  address="http://localhost/WCF40_QtrwiseSalesVD/CQtrwiseSales.svc"
				  contract="*">
			</endpoint>

		 
		</client>

		<!--Routing Defination-->
		<routing>
			<!--Filter For Detecting Messages Headers to redirect-->
			<filters>
				<filter name="MyFilter_1"  filterType="MatchAll"/>
			</filters>

			<!--Define Routing Table, This will Map the service with Filter-->
			<routingTables>
				<table name="ServiceRouterTable">
					<entries>
						<add filterName="MyFilter_1" endpointName="WCF_QtrwiseSalesService"/>
					</entries>
				</table>
			</routingTables>
		</routing>
	</system.serviceModel>
</configuration>