<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WCF_SecureService.Service" 
               behaviorConfiguration="ServBehave">
        <endpoint
           address=""
            binding="webHttpBinding"
            bindingConfiguration="basicSecureBindiingConfig"
            contract="WCF_SecureService.IService"/>
      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="basicSecureBindiingConfig">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" 
                       proxyCredentialType="Windows">
            </transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServBehave">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceCredentials>
            <windowsAuthentication allowAnonymousLogons="False" includeWindowsGroups="True"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>
