<?xml version="1.0"?>
<configuration>
	<system.web>
		<authentication mode="Forms"/>
		<roleManager enabled="true"/>
		<anonymousIdentification enabled="true"/>
		<profile>
			<properties>
				<add name="Name"/>
				<add name="Country" type="string"/>
				<add name="Gender" type="string"/>
			</properties>
		</profile>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
