body
{
	background-image:url(Image/background.gif);
}
.GVItemStyle
{
	background-color:#606060;
	font-family :Verdana, Arial, Helvetica;
   font-size :12px;
   color :White ;
}
.GVAltItemStyle
{
   background-color :#656565;
   font-family :Verdana, Arial, Helvetica;
   font-size :12px;
   color :White ;
}

.GVHeader
{
   font-family :Verdana, Arial, Helvetica;
   font-size :14px;
   color :#ffcc33 ;
   font-weight :bold ;
}

.PageNumber
{
   font-family :Verdana, Arial, Helvetica;
   font-size :12px;
   color :White ;
   font-weight :bold ;
}

.PagerStyle
{
	width: 686px;
	height: 36px;
	background-image: url(Image/photonav.gif);
	background-repeat: no-repeat;
	margin-bottom: 5px;
	text-align: center;
}

.Caption
{
   font-family :Verdana, Arial, Helvetica;
   font-size :12px;
   color :White ;
   font-weight :bold ;
}