<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
      <authentication mode="Forms"/>
      <roleManager enabled="true"/>
    </system.web>
	<connectionStrings>
		<add name="Movies" connectionString="Data Source=.\SQLExpress;Integrated Security=True;AttachDbFileName=|DataDirectory|MyDatabase.mdf;User Instance=True"/>
		<add name="Categories" connectionString="Data Source=.\SQLExpress;Integrated Security=True;AttachDbFileName=|DataDirectory|CategoriesDb.mdf;User Instance=True"/>
		<add name="Discuss" connectionString="Data Source=.\SQLExpress;Integrated Security=True;AttachDbFileName=|DataDirectory|DiscussDb.mdf;User Instance=True"/>
	</connectionStrings>
</configuration>