<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
	<connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
  <EncryptedData>
   <CipherData>
    <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAl+tXsGqGNkWguL2MFeUsCQQAAAACAAAAAAAQZgAAAAEAACAAAACFPXOl1kw+YTb1ZpQEFen/szkcCkpw/PDjBz1PT1luJwAAAAAOgAAAAAIAACAAAACPukEFIP7aI36Ys+/ntzmwKrwzSPz2ylRcz/FKz9yNx3ABAADG3pVBi5mSBQwqzA5IEozTWU1jjoBomEdNP2XmnX7ZAy/Ky0pXmQEhesFRANiKjsAnCykuEBWWO+mbFvPT7NkhllxQKZhHTPpDTVQggxiPFifixPAetgC2eqKkXEzZ8DcHiQ+AjsPnvw7Ixvwt9MwdVdHpvrXj6ocKlK23nhifUnkUtsqTs3l97kwD7YiTdW9amS7Gp92f9jggOS5LBzHCBYqkU6bv9lDXXe48VmMJ1b4o3gWvM12oUSy/YDKf33ajH8De6vzq1lSBuYtflW/PzOwhZGl3e1ETCLooBldosWu1cie5aDgrfZaX2lmcT1Hq3MSuT4DqmDRVu2Wu58Gkz3FuvddRUy6nL19seC30QybBbPD0PX/BjK6S1kwkdLcDL0DchOmwyyVoeLJgpE+4ZLobA8MJas0Oq0fxLGNq+oeBnlhTcqXmGGCUB9JbK6UOQQlo0BasdpHkeyJZI9FClp0IfPPrdWETQsNAMKUqBkAAAACN/93O0elnP0oPKdqxrfVEa+0IzQoC+WXkzzJSRjQ9YFrF8H5hpcF9lENTObRXXZ8IXwg+nZoEpEJ8Q7EPE1sg</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>
</configuration>
