@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     This is the sample code to accompany the MSDN Magazine article. Follow the instructions on the @Html.ActionLink("home page", "Index", "Home") to get the sample up and running...
</p>
